.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    border-radius: 12px 12px 0 0;
    z-index: 1;
}

.avaAndName {
    padding: 0 50px;
    display: flex;
    align-items: flex-end;
}

.avatar {
    margin-top: 30px;
    position: relative;
    z-index: 2;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid #E1FCFF;
    box-shadow: 0 3px 28px rgba(0, 149, 122, 0.15);
}

.uploadAvatarWrapper {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.uploadAvatar {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
    height: 50px;
    background: #25ACAC;
    opacity: 0.7;
    transition: all .3s ease;
    text-align: center;
    padding-top: 20px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.avatar:hover .uploadAvatar {
    top: 0;
}

.isOpenToWork {
    position: absolute;
    bottom: 12px;
    right: 7px;
    padding: 5px;
    border-radius: 7px;
    color: #fff;
    font-weight: 700;
    border: 3px solid #FFF4D1;
    background-color: lightgreen;
    z-index: 3;
}

.nameAndStatus {
    position: relative;
    width: 520px;
}

.nameContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 25px;
}

.editProfileBtn {
    max-width: 18px;
    cursor: pointer;
    margin: 0 -10px 20px 0;
}

.description {
    padding: 30px 50px;
}

.description p {
    margin-right: 30px;
    font-weight: 400;
    color: #25ACAC;
    margin-bottom: 20px;
}

.description p span {
    color: #000;
}

.contacts .title {
    font-weight: 700;
    color: #000;
    font-size: 18px;
    margin-top: 30px;
}

.contacts div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.followBtn {
    display: block;
    width: 120px;
    height: 36px;
    border-radius: 7px;
    background: rgb(51, 122, 255);
    color: #fff;
    font-weight: 700;
    margin-top: 15px;
    position: absolute;
    top: 0;
    right: -30px;
}

.followBtn:disabled {
    opacity: 0.5;
}


.followBtn.followed {
    border: 1px solid rgb(51, 122, 255);
    background: #fff;
    color: rgb(51, 122, 255);
}

