.users {
    padding-bottom: 50px;
}

.item {
    display: flex;
    padding: 30px 40px;
}

.item:not(:nth-child(10)) {
    border-bottom: 1px solid #d6fafa;
}

.avatar {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-right: 30px;
}

.name {
    margin-top: 10px;
    font-size: 21px;
    font-weight: 700;
}

.status {
    font-size: 14px;
    margin: 10px 0;
    font-style: italic;
}

.followBtn {
    display: block;
    width: 120px;
    height: 36px;
    border-radius: 7px;
    background: rgb(51, 122, 255);
    color: #fff;
    font-weight: 700;
    margin-top: 15px;
}

.followBtn:disabled {
    opacity: 0.5;
}


.followBtn.followed {
    border: 1px solid rgb(51, 122, 255);
    background: #fff;
    color: rgb(51, 122, 255);
}

.myFriendsTitle {
    display: flex;
    align-items: center;
    margin: 30px 0 10px 40px;
}

.myFriendsTitle p {
    font-weight: 700;
    font-size: 25px;
    margin-right: 15px;
}

.myFriendsTitle span {
    color: #25ACAC;
}

