.form {
    width: 700px;
    padding: 50px 40px;
}

.title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 35px;
}

.secondTitle {
    font-size: 18px;
    font-weight: 700;
    margin: 30px 0 17px 0;

}

.formItem {
    margin-bottom: 20px;
}

.fieldTitle {
    margin-bottom: 8px;
}

.formItem input, .formItem textarea {
    border: 1px solid #25ACAC;
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 16px;
    width: 100%;
}

.save {
    display: block;
    width: 120px;
    height: 36px;
    border-radius: 7px;
    background: rgb(51, 122, 255);
    color: #fff;
    font-weight: 700;
    margin: 30px auto 0 auto;
}

.lookingJob {
    display: flex;
    align-items: center;
}

.lookingJob .fieldTitle {
    margin-bottom: 0;
}

.lookingJob input {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 15px;
}
