.inputBlock {
    position: relative;
}

.error input, .error textarea {
    border: 1px solid red !important;
}

.errorDesc {
    color: red !important;
    position: absolute;
    top: -23px;
    right: 0;
}

textarea {
    resize: none;
}