.inputBlock {
    position: relative;
    margin-bottom: 20px;
}

.inputBlock input, .captchaBlock input {
    border: 1px solid rgb(51, 122, 255);;
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 18px;
}

.inputBlock p {
    margin-bottom: 8px;
    color: rgb(51, 122, 255);;
    opacity: 0.7;
}

.checkboxBlock {
    display: flex;
    align-items: center;
}

.checkboxBlock input {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.checkboxBlock label {
    color: rgb(51, 122, 255);
    margin-left: 10px;
    cursor: pointer;
}

.error input, .error textarea {
    border: 1px solid red !important;
}

.errorDesc {
    color: red !important;
    position: absolute;
    top: -23px;
    right: 0;
}

textarea {
    resize: none;
}