.pagination {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.pagination p {
    font-size: 25px;
    color: rgb(51, 122, 255);
    margin: 0 5px;
}

.pagination button {
    margin: 0 5px;
    min-width: 25px;
    height: 25px;
    background: #fff;
    border: 1px solid rgb(51, 122, 255);
    border-radius: 5px;
    color: rgb(51, 122, 255);
    font-size: 14px;
    transition: all .3s ease;
    padding: 0 3px;
}

.pagination button:disabled, .pagination button:disabled:hover {
    opacity: 0.5;
    color: rgb(51, 122, 255);
    background: none;
    cursor: auto;
}

.pagination button.active, .pagination button:hover {
    background: rgb(51, 122, 255);
    color: #fff;
}