.friend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    width: 30%;
    text-align: center;
}

.friendImg {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 10px;
    overflow: hidden;
}

.name {
    font-size: 10px;
    line-height: 1.2em;
}