.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    border-radius: 12px 12px 0 0;
    z-index: 1;
}

.avaAndName {
    padding: 0 50px;
    display: flex;
    align-items: flex-end;
}

.avatar {
    margin-top: 30px;
    position: relative;
    z-index: 2;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid #E1FCFF;
    box-shadow: 0 3px 28px rgba(0, 149, 122, 0.15);
}

.isOpenToWork {
    position: absolute;
    bottom: 12px;
    right: 7px;
    padding: 5px;
    border-radius: 7px;
    color: #fff;
    font-weight: 700;
    border: 3px solid #FFF4D1;
    background-color: lightgreen;
    z-index: 3;
}

.name {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 25px;
}

.description {
    padding: 30px 50px;
}

.description p {
    margin-right: 30px;
    font-weight: 400;
    color: #25ACAC;
    margin-bottom: 20px;
}

.description p span {
    color: #000;
}

.contacts .title {
    font-weight: 700;
    color: #000;
    font-size: 18px;
    margin-top: 30px;
}

.contacts div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nameAndStatus {
    position: relative;
    width: 520px;
}