.friend {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
}

.friendImg {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 10px;
    overflow: hidden;
}