.item {
    margin: 30px 0;
    padding-bottom: 20px;
}

.item:not(:last-child) {
    border-bottom: 1px solid #d6fafa;
}


.title {
    display: flex;
    align-items: center;
}

.ava {
    min-width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
}

.name {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 700;
}

.text {
    font-size: 18px;
    margin: 15px 0;
    line-height: 1.4em;
}

.date {
    font-size: 13px;
    color: #25ACAC;
}

.info {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.info button {
    background: #E1FCFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    border-radius: 15px;
    margin-right: 10px;
}

.likes img {
    max-width: 15px;
    margin-right: 5px;
}




