.loginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #e5ffff;
    border-radius: 12px; /* Убрать, когда Login будет отдельной страницей */
    padding: 50px 0;
}

.formLogin {
    position: relative;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
    color: rgb(51, 122, 255);
}

.loginPage button {
    display: block;
    width: 120px;
    height: 36px;
    border-radius: 7px;
    background: rgb(51, 122, 255);
    color: #fff;
    font-weight: 700;
    margin: 20px auto 0 auto;
}

.commonFormError {
    text-align: center;
    color: red;
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
}

.captchaBlock {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.captchaBlock img {
    max-width: 120px;
}

.captchaBlock input {
    max-width: 120px;
}

.captchaBlock div div p {
    display: none;
}


