.newPost textarea {
    width: 100%;
    height: 70px;
    border: 1px solid #d6fafa;
    border-radius: 12px;
    padding: 20px;
}

.newPost button {
    cursor: pointer !important;
    margin-left: auto;
    display: block;
    margin-top: 12px;
    width: 120px;
    height: 36px;
    border-radius: 7px;
    background: rgb(51, 122, 255);
    color: #fff;
    font-weight: 700;
}