.dialogs {
    display: flex;
    height: 100%;
}

.dialogsList {
    width: 30%;
    padding: 20px 0;
    background: rgba(240, 255, 255, 0.96);
    border-radius: 12px 0 0 12px;
}

.chat {
    width: 70%;
    padding: 30px;
}

.createMessage textarea {
    width: 100%;
    height: 70px;
    border: 1px solid #d6fafa;
    border-radius: 12px;
    padding: 20px;
}

.createMessage button {
    margin-left: auto;
    display: block;
    margin-top: 12px;
    width: 120px;
    height: 36px;
    border-radius: 7px;
    background: rgb(51, 122, 255);
    color: #fff;
    font-weight: 700;
}



